body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url(img/background.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.content {
    box-sizing: border-box;
    display: block;
}

h1 {
    color: goldenrod;
    margin-bottom: 2px;
}

h1 > span {
    color: #000000;
}

#message-el {
    font-style: bold;
    color: #f3575a;
    margin-top: 2px;
}

button {
    background: goldenrod;
    color: #00441e;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    transition: 0.7s;
    transform: scale(1.2);
}

.start-game {
    margin-bottom: -7.5px;
}

.new-card {
    margin-top: -7.5px;
}

#player-el {
    color: #000000;
    margin-bottom: 3px;
}

#restart-el {
    text-decoration: none;
    color: #f3575a;
}

#restart-el:hover {
    transition: all 0.7s ease;
    transform: scale(1.2);
    border-bottom: 0px solid #005eca;
    border-width: 5px;
    color: goldenrod;
  }