body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    background-image: url(img/background.jpg);
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

button {
    background: goldenrod;
    color: #016f32;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button:hover {
    transition: 0.7s;
    transform: scale(1.2);
}

.start-game {
    margin-bottom: -7.5px;
}

.new-card {
    margin-top: -7.5px;
}

#player-el {
    color: #000000;
}